- content_for :header do
  %h1 Contacts

%div{data: {role: "fieldcontain"}}
  / = form_tag "/contacts/search" do
  %label{for: "search"} Find a Contact:
  %input{type: "search", name: "search", id: "search"}
    
%ul{data: {role: "listview"}}
  - @contacts.each do |contact|
    %li= link_to contact, contact
  